
<nav class="navbar navbar-expand-lg  
                              navbar-light"> 
                 
                              <!-- Hamburger button that toggles the navbar-->
<button class="navbar-toggler  d-none d-lg-block circle" 
type="button" data-toggle="collapse"
data-target="#navbarNavAltMarkup" 
aria-controls="navbarNavAltMarkup" 
aria-expanded="false"
aria-label="Toggle navigation"> 
<i class="fa fa-bars font-12 fa-rounded" aria-hidden="true"></i>
</button> 
<!-- navbar links -->

                  
                  
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <form class="d-flex position-relative">
                        
            <input type="text" class="form-control navbar-search" placeholder="Search...">
            <span class="fa fa-search form-control-feedback "></span>  
                      </form>
                    </ul>
                    
                  </div>
                       

<span style="padding-right: 1%;"><i class="fa fa-expand fa-rounded"></i></span>
<span style="padding-right: 1%;" class="position-relative"><i class="fa fa-commenting-o fa-rounded"   aria-hidden="true"></i>
  <span class="position-absolute notification text-white">3</span>
</span>
<span style="padding-right: 1%;" class="position-relative"><i class="fa fa-bell fa-rounded"></i>
  <span class="position-absolute offline"></span>
</span>
<span style="padding-right: 1%;"><img src="images/profile.jpeg" class="profile-icon"></span>

        <div></div>
              </nav> 
