<style>
   body{
    background-color: #141527;
}
/* .card-statistics{
    border: none;
    border-left: 4px;
    border-radius: 6px;
} */
 .card-title{
    text-transform: capitalize;
    font-size: 0.75em;
    padding-top: 10px;
    margin-bottom: .2rem;
    
}
 .card-text{
    font-size: 1.5em;
    font-weight: 600;
}
.card-body ,.navbar,.leftmenu
{
    background-color:#272D47;
}

</style>



<div class="container-fluid">
  <div class="row">
    <div class="page-title col-7 pt-0">
        <h4 class="text-white">Hi!!Welcome Back</h4>
        <p class="text-white">Home <span style="color:blueviolet">>> Sales Dashboard</span></p>
    </div class="col-4">
   <span class="pr-3"> <button style="background-color:blue ;" class="rounded text-white"><i class="fa fa-cog" aria-hidden="true"></i>General Setting</button></span>
    <span class="pr-3"><button style="background-color:red;" class="rounded text-white"><i class="fa fa-commenting-o" aria-hidden="true"></i>Print</button></span>
 <span><button style="background-color:orange ;"class="rounded text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Buy Now</button></span>
  </div>
            <div class="row">
                <div class="col-3">
                    <div class="card card-statistics">
                        <div class="card-body rounded p-0">
                          <div class="p-3">
                          <h5 class="card-title text-white">Total Sales</h5>
                          <p class="card-text text-white">$3,257</p>
                          </div>
                          <div id="chart1" style="width:100%;height: 50px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-statistics">
                        <div class="card-body rounded p-0">
                          <div class="p-3">
                          <h5 class="card-title text-white">Total User</h5>
                          <p class="card-text text-white">$1,678</p>
                        </div>
                          <div id="chart2" style="width:100%;height: 50px;"></div>
                         
                    
                        </div>
                    </div>
                </div>
                
                <div class="col-3">
                    <div class="card card-statistics">
                        <div class="card-body rounded p-0">
                          <div class="p-3">
                          <h5 class="card-title text-white">Total Income</h5>
                          <p class="card-text text-white">$2,590</p>
                        </div>
                          <div id="chart3" style="width:100%;height: 50px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-statistics">
                        <div class="card-body rounded p-0">
                          <div class="p-3">
                          <h5 class="card-title text-white">Total Tax</h5>
                          <p class="card-text text-white">$1,954</p>
                          </div>
                          <div id="chart4" style="width:100%;height: 50px;"></div>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="row chart-margin">
              <div class="col-8">
                 <div>
                    <div class="card card-statistics">
                      <div class="card-body rounded">
                        <h5 class="card-title text-white">Total Sales</h5>
                        <!-- <div class="row">
                             <div></div>
                        </div> -->
                        <div id="chart5" style="width:100%;height: 300px;"></div>
                      </div>
                  </div>
              </div>
            </div>
              <div class="col-4">
                  <div class="card card-statistics">
                      <div class="card-body rounded">
                        <h5 class="card-title text-white">Total User</h5>
                        <p class="card-text text-white">$1,678</p>
                                                            
                      </div>
                  </div>
              </div>
                                      
          </div>
     
  
<!-- =================================================================================== -->
  
  </div>
  <!-- ================================================================================ -->
   
</div>
<script src="/js/echart-dashboard.js"></script>
